{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container py-8 px-10">
        <div class="flex flex-col lg:justify-center gap-8 lg:gap-16 lg:flex-row-reverse">
            <div>
                <h1 class="text-5xl mb-6 text-center">Mon profil</h1>
                <div class="bg-primary-500 lg:px-14 py-5 px-2 rounded-2xl border-primary-600 border-2 flex flex-col items-center lg:w-fit">
                    <h4><span class="font-bold">{{ app.user.name }}</span> TP {{ app.user.group }}</h4>
                    <span>{{ app.user.email }}</span>
                </div>
            </div>
            <div>
                {% include('components/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}