{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <p>
        Bonjour {{ app.user.firstname }} !
        {{ app.user.group }}
    </p>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
{% endblock %}