{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="container p-4">
        <h1 class="text-5xl mb-4">Paramètres</h1>
        <div class="flex flex-col lg:flex-row justify-between">
            <ul class="bg-white rounded-lg border border-gray-200 text-gray-900 text-sm font-medium">
                <li class="px-4 py-3 border-b border-gray-200 w-full rounded-t-lg"><a href="#">Informations personnelles</a></li>
                <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="#">Notifications</a></li>
                <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="#">Apparence de l'application</a></li>
                <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
                <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="{{ path('app_accessibilite') }}">Accessibilité</a></li>
                <li class="px-4 py-3 w-full rounded-b-lg"><a href="{{ path('app_aide') }}">Aide</a></li>
            </ul>
            <div class="mt-6 flex flex-col gap-2">
                <a href="{{ path('app_logout') }}">{% include('components/button.html.twig') with { text: "Déconnexion", color: "danger" } %}</a>
                <a href="{# path('app_dashboard') #}">{% include('components/button.html.twig') with { text: "Administration", color: "warning" } %}</a>
            </div>
    </div>
{% endblock %}