{% extends 'base.html.twig' %}

{% block title %}FullCalendar Test!{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>
    <div id="calendar" data-events='[
  { "title": "Événement 1", "start": "2024-01-17T12:00:00", "allDay": true },
  { "title": "Événement 2", "start": "2024-01-18T15:00:00", "allDay": false }
]'></div>
{% endblock %}
