{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="text-5xl mb-4">Notifications</h1>
        <div class="flex flex-col gap-2">
            {% include ('components/button.html.twig') with { text: 'Tout marquer comme lu', iconLeft: 'danger' } %}
            {% include ('components/button.html.twig') with { text: 'Tout supprimer',color: 'danger', iconLeft: 'trash' } %}
        </div>
    </div>
    <div class="m-4">
        {% for notification in notifications %}

            {% include('components/notification-pill.html.twig') %}

        {% endfor %}
    </div>
{% endblock %}
