{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4 lg:px-10">
        <div class="flex flex-col lg:flex-row-reverse lg:justify-between lg:gap-16">
            <div class="lg:w-2/3">
                {% include('components/helpNavbar.html.twig') %}
                <main role="main" class="mt-10">
                    <div class="container p-4">
                        <h1 class="text-center text-5xl mb-6">L'inscription sur l'application</h1>

                        <div class="mb-4">
                            <div class="text-center lg:text-left">
                                <p>Comment s'inscrire ?</p>
                                <br>
                                <div class="text-left">
                                    <p>Afin de vous connecter il faudra renseigner :</p>

                                        <br>
                                        <li>votre adresse mail étudiante</li>
                                        <li>Votre prénom et votre nom.</li>
                                        <li>Votre mot de passe qui doit contenir 6 caractères minimum avec des chiffres et des lettres.</li>
                                        <li>Votre filière</li>
                                        <li>Votre groupe de TP/TD</li>
                                        <li>Votre année d'étude</li>
                                        <br>
                                       <p> N'oubliez pas d'accepter les termes d'utilisation dans le formulaire que vous trouverez sur la page de connexion.
                                    </p>
                                </div>
                            </div>

                            <img src="{{ asset ('images/helpImages/register.png') }}" class="w-1/2 h-auto mx-auto">

                        </div>
                    </div>

                    <span class="text-lg italic">Date de dernière mise à jour : 18/01/2024</span>

                </main>
            </div>
            <div>
                {% include('components/sidebar.html.twig') %}
            </div>
        </div>
    </div>

{% endblock %}
