{% extends 'base.html.twig' %}


{% block title %}Hello HomeworkController!{% endblock %}

{% block body %}
    <div id="doublon" class="flex flex-col justify-center items-center">
        <div>
            <h2 class="text-4xl mb-4">Rendus similaires</h2>
            <p class="text-2xl">Nous avons trouvé <span class="text-3xl text-orange-400">2 rendus similaires</span>, vérifie que tu ne publies pas un doublon !</p>
            <div class="my-24">
            <h3 class="text-1xl text-left my-2">Carte existante :</h3>
                <button type="button" id="card-homework-{{ homework[0].id }}" class="text-left w-full" data-toggle="modal" data-modal-id="modal-homework" data-content-url="{{ path('app_homework-view', {
                    homework: homework[0].id,
                }) }}">
                    {% include('components/card-homework.html.twig') with { homework: homework[0] } %}
                </button>
                <h3 class="text-1xl text-left my-2">Votre carte :</h3>
                {% include('components/card-homework.html.twig') with { homework: doublon[0] } %}
            </div>
            <div class="flex justify-center w-full">
                <a href="{{ path('app_homework-doublon', {'id_homework': homework[0].id, 'id_doublon': doublon[0].id, 'create': true}) }}">
                    {% include('components/button.html.twig') with { text: 'Créer quand même', iconLeft: 'add-circle', size: "xl", rounded: true, fullWidth: true } %}
                </a>
                <a href="{{ path('app_homework-doublon', {'id_homework': homework[0].id, 'id_doublon': doublon[0].id, 'cancel': true}) }}">
                    {% include ('components/button.html.twig') with {text: 'Annuler', type: 'secondary', color: 'info', fullWidth: true} %}
                </a>

            </div>
        </div>
    </div>
{% endblock %}
