{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container px-4">
        {% if app.user.firstname is defined %}
            <div>
                <p class="text-4xl mb-4">Bonjour {{ app.user.firstname }} ! 👋</p>
            </div>
        {% endif %}
        <div>
            {{ component('SearchHomework', {
                'placeholder': 'Rechercher un rendu',
                'icon': 'calendar',
            }) }}
        </div>
        <a href="{{ path('app_homework') }}" class="fixed right-8 bottom-32 lg:bottom-8 z-50">
            {% include('components/button.html.twig') with { text: '', iconLeft: 'add-circle', size: "xl", rounded: true } %}
        </a>
        <div class="mt-4">
            {% include('components/button.html.twig') with { text: "Créer un rendu" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "secondary" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "tertiary" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", color: "warning" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "secondary", color: "warning" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "tertiary", color: "warning" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", color: "danger" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "secondary", color: "danger", iconLeft: "calendar" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "tertiary", color: "danger" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", color: "info" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "secondary", color: "info" } %}
            {% include('components/button.html.twig') with { text: "Créer un rendu", type: "tertiary", color: "info" } %}
        </div>
    </div>


{% endblock %}

