{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container px-4">
        {% if app.user.firstname is defined %}
            <div>
                <h2 class="text-4xl mb-4 font-display">Bonjour {{ app.user.firstname }} ! 👋</h2>
            </div>
        {% endif %}
        <div>
            {{ component('SearchHomework', {
                'placeholder': 'Rechercher un rendu',
                'icon': 'search-normal',
            }) }}
        </div>
        <a href="{{ path('app_homework') }}" class="fixed right-8 bottom-32 lg:bottom-8 z-30 mt-8">
            {% include('components/button.html.twig') with { text: '', iconLeft: 'add-circle', size: "xl", rounded: true } %}
        </a>
    </div>


{% endblock %}

