{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard | IUTask{% endblock %}

{% block body %}
    <div class="container px-4 py-8">
        <h1 class="text-4xl my-6">Dashboard</h1>
    </div>
{% endblock %}
