@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap');

:root {

    /* Définition des polices et de l'épaisseur*/
    --fc-font-familly: 'Fredoka', sans-serif;
    --fc-font-weight: 500;
    --fc-font-size: 48px;
    --fc-text-font-weight: 400;

    /* Définition des couleurs principales et secondaire*/
    --fc-primary-color: #8CD867;
    --fc-primary-color-50 : #F0FAEB;
    --fc-secondary-color: #61A3EE;
    --fc-secondary-color-200: #A3C9F5;
    --fc-text-color:#121316;
    --fc-page-bg-color: #fff;

    --fc-button-text-weight: 500;

    /* Définition du style des boutons qui s'appliquent directement*/
    --fc-button-text-color: #000000;

    /* --fc-button-hover-text-color: #17171a; */
    --fc-button-bg-color: #8CD867;
    --fc-button-border-color: #121316;

    --fc-button-hover-bg-color: #F0FAEB;
    --fc-button-hover-border-color: #8CD867;
    --fc-button-active-bg-color: #61A3EE;
    --fc-button-active-border-color: #121316;
}


/* Changemement the width */
#calendar{
    display: inline-block;
    width: 100%;
}

.fc .fc-button:disabled{
    opacity: 1;
}

/*Titre Calendrier*/
h1{
    display: flex;
    justify-content: center;
    color: var(--fc-text-color);
    font-family: var(--fc-font-familly);
    margin-bottom: 15px;
}

/*Mois et année */
.fc-toolbar-title{
    font-family: var(--fc-font-familly);
    font-weight: var(--fc-font-weight);
}

/* Font et gras du calendrier*/
.fc-scrollgrid-sync-inner{
    font-family: var(--fc-font-familly);
    font-weight: var(--fc-text-font-weight);
}

.fc-toolbar-chunk{
    font-family: var(--fc-font-familly);
}

.fc .fc-button-primary:disabled{
    font-weight: var(--fc-button-text-weight);

    &:hover{
        background-color: var(--fc-button-hover-bg-color);
        color: var(--fc-button-hover-text-color);
    }
}

/*tableau du calendrier, barre supérieure avec les jours*/
thead{
    background-color: var(--fc-secondary-color-200);
    height: 30px;
}

/* Changer la couleur du jour actif */
.fc-day-today {
    background: var(--fc-primary-color) !important;
    border: none !important;
    border-radius: 0px;
}

.fc-prev-button.fc-button.fc-button-primary, .fc-next-button.fc-button.fc-button-primary,
.fc-today-button.fc-button.fc-button-primary{
    border: 1px solid var(--fc-primary-color);
}

.fc-today-button.fc-button.fc-button-primary{
    background-color: var(--fc-primary-color);
}

/* Mise en style du calendrier partie semaine et jour*/

.fc-timeGridWeek-view.fc-view.fc-timegrid, .fc-timeGridDay-view.fc-view.fc-timegrid{
    height: 661px;
}

/* Mise en style du deuxième calendrier */

.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion{
    font-family: var(--fc-font-familly);
}

/* Responsive */
@media only screen and (max-width: 765px) {
    h1{
        text-align: center;
    }

    #calendar{
        margin: 0;
        display: inline-block;
        width: 100%;
    }

    .fc-dayGridMonth-view.fc-view.fc-daygrid{
        display: flex;
        justify-content: center;
        height: 335px;
    }

    .fc-header-toolbar.fc-toolbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

@media only screen and (min-width: 765px) {

    #calendar{
        display: inline-block;

        h1{
            text-align: center;
        }

        #calendar{
            margin: 0;
            display: inline-block;
            width: 100%;
        }

        .fc-dayGridMonth-view.fc-view.fc-daygrid{
            display: flex;
            flex-direction: row;
        }

    }


}