<div class="flex border-2 border-primary-100 rounded-xl py-2 px-4">
    {% if icon is defined %}
        <img src="{{ asset('images/icons/' ~ icon ~ '.svg' ) }}" alt="{{ icon }}"  class="inline-block mr-1">
    {% endif %}
    <input class="w-full" type="text" placeholder="{{ placeholder }}">
</div>
