<div class="absolute z-50 min-h-screen min-w-screen flex flex-col justify-center items-center opacity-0 transition-opacity duration-300 pointer-events-none" tabindex="-1" id="{{ id }}">
    <div class="fixed inset-0 bg-black opacity-50 bgCloseModal" data-close-modal="{{ id }}"></div>
    <div id="{{ id }}-content" class="modal-content fixed top-1/2 left-1/2 -translate-x-1/2 translate-y-8 scale-75 bg-white border rounded-xl shadow-lg w-[95%] max-w-[600px] max-h-[80%] overflow-y-scroll ease-out duration-300 p-6"></div>

    </div>
</div>