<h4 class="font-semibold font-display text-xl cardTitle">{{ title }}</h4>
<p class="mb-3 text-sm cardTitle">{{ subtitle }}</p>
<div id="titleCardColor" style="display: none;" data-color="{{ color }}">{{ color }}</div>